<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dino_egg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baby_cry_Identfication"
        tools:targetApi="31">
        <activity
            android:name=".AppFeatures_tutorial"
            android:exported="false" />
        <activity
            android:name=".Sleep_tracking_Tutorial"
            android:exported="false" />
        <activity
            android:name=".Audio_Detection_Tutorial"
            android:exported="false" />
        <activity
            android:name=".Kids_activity_Tutorial"
            android:exported="false" />
        <activity
            android:name=".Forget_password_Tutorial"
            android:exported="false" />
        <activity
            android:name=".Alert_Tutorial"
            android:exported="false" />
        <activity
            android:name=".FingerprintTutorial"
            android:exported="false" />
        <activity
            android:name=".babyproofying"
            android:exported="false" />
        <activity
            android:name=".solidFood"
            android:exported="false" />
        <activity
            android:name=".handel_tantrumes"
            android:exported="false" />
        <activity
            android:name=".babyMilestones"
            android:exported="false" />
        <activity
            android:name=".bathing"
            android:exported="false" />
        <activity
            android:name=".colic"
            android:exported="false" />
        <activity
            android:name=".teething"
            android:exported="false" />
        <activity
            android:name=".entertain_kids"
            android:exported="false" />
        <activity
            android:name=".Baby_not_Eating_Well"
            android:exported="false" />
        <activity
            android:name=".whyBabyNotSleeping"
            android:exported="false" />
        <activity
            android:name=".tips_and_tricks"
            android:exported="false" />
        <activity
            android:name=".totorial"
            android:exported="false" />
        <activity
            android:name=".AudioRecordingActivity"
            android:exported="false" />

        <service
            android:name=".AudioDetectionService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="microphone" />

        <activity
            android:name=".PopupSleep"
            android:exported="false" />
        <activity
            android:name=".popUp"
            android:exported="false" />
        <activity
            android:name=".StoryVideo"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".StoryAudio"
            android:exported="false" />
        <activity
            android:name=".RegisterParentPage2"
            android:exported="false" />

        <service
            android:name=".CallAudioService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SleepTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".Alert"
            android:exported="false"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".VoiceRecorder"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Login_guardian"
            android:exported="false" />
        <activity
            android:name=".AudioPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterParent_page"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>